tools/announcements.txt
tools/.adminAnnouncements.txt
tools/.hasSeenAnnouncement
tools/.hasSeenAdminAnnouncement
tools/.prevAnnouncement
tools/.prevAdminAnnouncement
tools/server.config
tools/.server.log
tools/.playedToday
bedrock-server
java-server
