backup_and_update.sh
serverLog

allowlist.json*
server.properties*
permissions.json*
BedrockDownloadedServerFiles/
behavior_packs/
config/
definitions/
development_resource_packs/
minecraftpe/
premium_cache/
resource_packs/
world_templates/
worlds/
Dedicated_Server.txt
bedrock_server
bedrock_server_symbols.debug
release-notes.txt
valid_known_packs.json
